.bg-gray {
    background-color: gray;
}

.navbar-brand{
    height: content-box;
    font-weight: bold;
    border-radius: 10px;
}

.navbar-brand:hover {
    border-radius: 10px;
    background-color: white;
    transition: 0.4s all linear;
}

.navbar-inverse .navbar-nav > li > a {
    height: content-box;
    font-size: 1.7em;
    font-weight: 300;
}

.navbar-inverse .navbar-nav li a:hover {
    background-color: indianred;
    transition: 0.4s all linear;
}

.text-gray{
    color: gray;
}
.bg-nav{
    background-color: gray;
}

body {
    margin-bottom: 5rem;
}

.menu-bar{
    color: white;
    max-height: 2rem;
}

.dropdown-toggle {
    border: none;
    color: white;
    height: content-box;
    width: content-box;
}

.dropdown-toggle:hover {
    background-color: indianred;
    transition: 0.4s all linear;
}

.bg-blur {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(210, 77, 87, 0.9); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid gray;
    border-radius: 10px;
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;
}

body {
    background-image: url(../img/background-dizma.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 5rem;
}