<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragments/commons::head"></th:block>
    <link rel="stylesheet" href="/css/home.css"/>
</head>
<body>
<header>
    <nav th:replace="fragments/commons::loggedNav"></nav>
</header>

<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-danger">Add new product</span></h1>
    <hr class="hr-3 w-25 bg-gray"/>

    <form class="mx-auto w-25 bg-blur rounded" th:method="post" th:action="@{/admin/add-product}" th:object="${productBindingModel}" enctype="multipart/form-data">

        <div class="form-group">
            <h2 class="text-center text-warning mt-2" th:if="${productExists}">Product with this name already exists!</h2>
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="name" class="h4 mb-2 text-white">Product name</label>
            </div>
            <input th:field="*{name}" th:errorclass="bg-warning" type="text" class="form-control" id="name" name="name"/>
            <small th:if="${#fields.hasErrors('name')}"
                   th:errors="*{name}"
                   class="bg-gray text-light rounded">
                The name must be at least 3 symbols long.
            </small>
        </div>

        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="price" class="h4 mb-2 text-white">Price</label>
            </div>
            <input th:field="*{price}" th:errorclass="bg-warning" type="number" name="price" step="0.01" class="form-control" id="price"/>
            <small th:if="${#fields.hasErrors('price')}"
                   th:errors="*{price}"
                   class="bg-gray text-light rounded">
                The price should be positive number.
            </small>
        </div>

        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="quantity" class="h4 mb-2 text-white">Quantity</label>
            </div>
            <input th:field="*{quantity}" th:errorclass="bg-warning" type="number" name="quantity" class="form-control" id="quantity"/>
            <small th:if="${#fields.hasErrors('quantity')}"
                   th:errors="*{quantity}"
                   class="bg-gray text-light rounded">
                The quantity should be 0 or higher.
            </small>
        </div>

        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="category" class="h4 mb-2 text-white">Select category</label>
            </div>
            <select class="form-control" name="category" id="category">
                <option value="">Select category</option>
                <option th:each="c : ${T(com.dizma.dizmademo.model.enums.CategoryEnum).values()}" th:value="${c.name()}" th:text="${c.name()}">...</option>
            </select>
        </div>

        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="description" class="h4 mb-2 text-white">Description</label>
            </div>
            <textarea th:field="*{description}" id="description" name="description" class="form-control">

            </textarea>
        </div>

        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="img" class="h4 mb-2 text-white">Image</label>
            </div>
            <input type="file" name="file" class="form-control-file" id="img">
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn bg-gray rounded-1 mb-3">Add Product</button>
        </div>

    </form>
</main>

<th:block th:replace="fragments/commons::footer"></th:block>
</body>
</html>