<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragments/commons::head"></th:block>
    <link rel="stylesheet" href="/css/products.css"/>
</head>
<body>
<header>
    <nav th:replace="fragments/commons::loggedNav"></nav>
</header>

<div class="catalog">
    <div class="container-fluid">
        <h1 class="text-center text-danger">
            <th:block th:if="${!furniture.getContent().isEmpty()}">Catalog</th:block>
            <th:block th:if="${furniture.getContent().isEmpty()}">There are no offers!</th:block>
        </h1>

        <div class="row">
            <div th:each="piece : ${furniture.getContent()}" class="col-md-3 col-sm-6">
                <div class="product">
                    <img class="img-responsive" height="200px" width="200px" th:src="@{${'data:image/jpg;base64, ' + piece.picture}}" alt="no image">

                    <div class="details">
                        <h6 th:text="${piece.name}" class="text-danger">Name</h6>
                        <span class="price text-danger" th:text="'$'+${piece.price}">...$</span>
                    </div>

                    <div class="bg-gray details-btn">
                        <a class="btn btn-secondary" th:href="@{/products/{productId}(productId=${piece.id})}">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- PAGINATION -->
    <div th:unless="${furniture.getContent().isEmpty()}" id="paginationNav"
         class="container-fluid row justify-content-center mar">
        <nav>
            <ul class="pagination">
                <li class="page-item" th:classappend="${furniture.isFirst()} ? 'disabled' : ''">
                    <a th:unless="${furniture.isFirst()}"
                       th:href="@{/products/all(size=${furniture.getSize()},page=0)}"
                       class="page-link" href="#">First</a>
                    <a th:if="${furniture.isFirst()}"
                       class="page-link" href="#">First</a>
                </li>
            </ul>
        </nav>
        <nav>
            <ul class="pagination">
                <li class="page-item" th:classappend="${furniture.hasPrevious() ? '' : 'disabled'}">
                    <a th:if="${furniture.hasPrevious()}"
                       th:href="@{/profucts/all(size=${furniture.getSize()},page=${furniture.getNumber() - 1})}"
                       class="page-link" href="#">Previous</a>
                    <a th:unless="${furniture.hasPrevious()}"
                       class="page-link" href="#">Previous</a>
                </li>
            </ul>
        </nav>
        <nav>
            <ul class="pagination">
                <li class="page-item" th:classappend="${furniture.hasNext() ? '' : 'disabled'}">
                    <a th:if="${furniture.hasNext()}"
                       th:href="@{/products/all(size=${furniture.getSize()},page=${furniture.getNumber() + 1})}"
                       class="page-link" href="#">Next</a>
                    <a th:unless="${furniture.hasNext()}"
                       class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
        <nav>
            <ul class="pagination">
                <li class="page-item" th:classappend="${furniture.isLast()} ? 'disabled' : ''">
                    <a th:unless="${furniture.isLast()}"
                       th:href="@{/products/all(size=${furniture.getSize()},page=${furniture.getTotalPages() - 1})}"
                       class="page-link" href="#">Last</a>
                    <a th:if="${furniture.isLast()}"
                       class="page-link" href="#">Last</a>
                </li>
            </ul>
        </nav>
    </div>
</div>


<th:block th:replace="fragments/commons::footer"></th:block>
</body>
</html>