<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragments/commons::head"></th:block>
    <link rel="stylesheet" href="/css/home.css"/>
</head>
<body>
<header>
    <nav th:replace="fragments/commons::loggedNav"></nav>
</header>

<section class="categories">
    <p class="text-center text-danger">Catalog:</p>
</section>

<section class="products">
    <article class="wrapper-item prefix" th:each="f : ${furniture}" th:id="*{f.id}">
        <div class="img-wrapper-item">
            <img src="data:image/jpg;base64,*{f.picture}" alt="no image" class="img-flag">
        </div>
        <form th:action="@{/products/all}" th:method="POST" class="item-form">
            <input name="name" disabled type="text" th:value="*{f.name}" class="text-gray">
            <div class="text-div-item">
                <p class="text-danger">PRICE:</p>
                <input disabled name="price" class="text-danger inp-field" th:value="*{f.price.toString().concat('$')}">
            </div>
            <div class="buttons-div-item">
                <h4>category</h4>
                <div class="item-button" id="type">
                    <input disabled class="inp-field" name="type" th:value="*{f.category.getCategory().name()}">
                </div>
            </div>
            <div class="submit-btn-wrapper">
                <a th:href="@{/products/order-it/{id}(id=${f.id})}" type="submit" class="btn btn-danger">ORDER IT<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                </svg></a>
            </div>
            <th:block sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
                <a th:href="@{/admin/edit-product/{id}(id=${f.id})}" class="btn btn-primary">EDIT PRODUCT</a>
            </th:block>
        </form>
    </article>
</section>


<th:block th:replace="fragments/commons::footer"></th:block>
</body>
</html>